@import 'reset',
        'config';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

header {
  flex: 1;
  display: flex;
  align-items: center;
  background: url('../img/bg.jpg') center;
  background-size: cover;
  div {
    flex: 1;
    text-align: center;
    background-color: rgba(0,0,0,.75);
    color: #fff;
  }
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include bp(phone) {
      flex-direction: column;
    }
  li {
    flex: 1;
    transition: flex-grow 400ms ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    a {
      flex: 1;
      color: lighten($dark, 50%);
      text-decoration: none;
      text-transform: uppercase;
      svg {
        width: 40%;
        display: block;
        margin: 0 auto;
        padding-bottom: 15px;
        fill: lighten($dark, 50%);
      }
    }
    &:hover {
      flex-grow: 3;
      a {
        transition: fill 400ms ease;
        color: #fff;
        svg {
          
          fill: #fff;
        } 
      }
    }
  }
}

#about {
  background-color: lighten(#333, 0%);
}

#work {
  background-color: lighten(#333, 20%);
}

#resume {
  background-color: lighten(#333, 40%);
}

#contact {
  background-color: lighten(#333, 60%);
}