@import 'reset.scss';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

header {
  flex: 1;
  display: flex;
  align-items: center;
  background: url('../img/bg.jpeg') center;
  background-size: cover;
  div {
    flex: 1;
    text-align: center;
    background-color: rgba(0,0,0,.75);
    color: #fff;
  }
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
  li {
    flex: 1;
    transition: flex-grow 400ms ease;
    &:hover {
      flex-grow: 3;
    }
  }
}

#about {
  background-color: lighten(#333, 0%);
}

#work {
  background-color: lighten(#333, 25%);
}

#resume {
  background-color: lighten(#333, 50%);
}

#contact {
  background-color: lighten(#333, 75%);
}